@import url('https://fonts.googleapis.com/css2?family=Langar&family=Mouse+Memoirs&display=swap');
body {
    font-family: 'Langar', cursive;
    margin:0px;
}

:root {
    --primary-color:#e46b6b;
    --dark-grey: #030d14;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    
}
.navigation .brand-name {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    color:var(--dark-grey);
}

main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
}

textarea {
    display: block;
    width: 90%;
    height: 10vh;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem auto;
    border: 2px solid var(--dark-grey);
}

.btn-groot{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0.5;
    font-size: 1.2rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
}

#btn-translator{
    margin-left:1rem;
}

#div-heading {
    font-size: 1.2rem;
    margin:0.5rem 1rem;
}

#output {
    width: 90%;
    height: 10vh;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem auto;
    border: 2px solid var(--dark-grey);
}

.footer {
    background-color: var(--primary-color);
    padding:0.2rem;
    text-align: center;
    color:var(--dark-grey);
}

.footer h3 {
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
}
.footer p{
    max-width: 600px;
    margin:auto;  
    font-size: 1rem;
}